<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prof</servlet-name>
    <servlet-class>servlets.Prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prof</servlet-name>
    <url-pattern>/prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>servlets.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Eleve</servlet-name>
    <servlet-class>servlets.Eleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eleve</servlet-name>
    <url-pattern>/eleve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Planning</servlet-name>
    <servlet-class>servlets.Planning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Planning</servlet-name>
    <url-pattern>/planning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourExam</servlet-name>
    <servlet-class>servlets.CourExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourExam</servlet-name>
    <url-pattern>/courExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectionProf</servlet-name>
    <servlet-class>servlets.ConnectionProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionProf</servlet-name>
    <url-pattern>/connectionProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutDoc</servlet-name>
    <servlet-class>servlets.AjoutDoc</servlet-class>
    <multipart-config>
      <location>/home/fateh/projetLicenceSauv/temp/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutDoc</servlet-name>
    <url-pattern>/ajoutDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppDoc</servlet-name>
    <servlet-class>servlets.SuppDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppDoc</servlet-name>
    <url-pattern>/suppDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>servlets.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeconnectionProf</servlet-name>
    <servlet-class>servlets.DeconnectionProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnectionProf</servlet-name>
    <url-pattern>/deconnectionProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectionEleve</servlet-name>
    <servlet-class>servlets.ConnectionEleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionEleve</servlet-name>
    <url-pattern>/connectionEleve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectionAdmin</servlet-name>
    <servlet-class>servlets.ConnectionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionAdmin</servlet-name>
    <url-pattern>/connectionAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeconnectionEleve</servlet-name>
    <servlet-class>servlets.DeconnectionEleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnectionEleve</servlet-name>
    <url-pattern>/deconnectionEleve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeconnectionAdmin</servlet-name>
    <servlet-class>servlets.DeconnectionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnectionAdmin</servlet-name>
    <url-pattern>/deconnectionAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutPlanning</servlet-name>
    <servlet-class>servlets.AjoutPlanning</servlet-class>
    <multipart-config>
      <location>/home/fateh/projetLicenceSauv/tempPlanning/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutPlanning</servlet-name>
    <url-pattern>/ajoutPlanning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutRubrique</servlet-name>
    <servlet-class>servlets.AjoutRubrique</servlet-class>
    <multipart-config>
      <location>/home/fateh/projetLicenceSauv/tempRubrique/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutRubrique</servlet-name>
    <url-pattern>/ajoutRubrique</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadPlanning</servlet-name>
    <servlet-class>servlets.DownloadPlanning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPlanning</servlet-name>
    <url-pattern>/downloadPlanning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadPlanningEleve</servlet-name>
    <servlet-class>servlets.DownloadPlanningEleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPlanningEleve</servlet-name>
    <url-pattern>/downloadPlanningEleve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppPlanning</servlet-name>
    <servlet-class>servlets.SuppPlanning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppPlanning</servlet-name>
    <url-pattern>/suppPlanning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppRubrique</servlet-name>
    <servlet-class>servlets.SuppRubrique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppRubrique</servlet-name>
    <url-pattern>/suppRubrique</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutDeliberation</servlet-name>
    <servlet-class>servlets.AjoutDeliberation</servlet-class>
    <multipart-config>
      <location>/home/fateh/projetLicenceSauv/tempDeliberation/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutDeliberation</servlet-name>
    <url-pattern>/ajoutDeliberation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppDeliberation</servlet-name>
    <servlet-class>servlets.SuppDeliberation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppDeliberation</servlet-name>
    <url-pattern>/suppDeliberation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadDeliberation</servlet-name>
    <servlet-class>servlets.DownloadDeliberation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadDeliberation</servlet-name>
    <url-pattern>/downloadDeliberation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadRubrique</servlet-name>
    <servlet-class>servlets.DownloadRubrique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadRubrique</servlet-name>
    <url-pattern>/downloadRubrique</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Preinscription</servlet-name>
    <servlet-class>servlets.Preinscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Preinscription</servlet-name>
    <url-pattern>/preinscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OuvrirPreinscription</servlet-name>
    <servlet-class>servlets.OuvrirPreinscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OuvrirPreinscription</servlet-name>
    <url-pattern>/ouvrirPreinscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFicheDeVoeux</servlet-name>
    <servlet-class>servlets.DownloadFicheDeVoeux</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFicheDeVoeux</servlet-name>
    <url-pattern>/downloadFicheDeVoeux</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadDeliberationEleve</servlet-name>
    <servlet-class>servlets.DownloadDeliberationEleve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadDeliberationEleve</servlet-name>
    <url-pattern>/downloadDeliberationEleve</url-pattern>
  </servlet-mapping>
</web-app>