@CHARSET "UTF-8";
.a2, .a3{
	display:none;
}
#uploader{
	display:none;
}
.btn-primary{
	margin-top:20px;;
}
.radio, .niv{
	margin-top:0;
	margin-bottom:0;
}
#upload{
	cursor:pointer;
}
#arecherche, #aajouter{
	cursor:pointer;
}
#resDoc{
	background-color:lightskyblue;
	padding:0;
	border-radius:50%;
}